<nb-card size="medium">
  <nb-card-body>
    <span class="h3 location">House</span>
    <span class="date">{{getDate()}}</span>

    <div class="today">
      <span class="today-temperature h1">{{actualData.currentTemp}}&deg;</span>
      <nb-icon icon="sun-outline" pack="eva" class="today-icon"></nb-icon>
    </div>

    <div class="today-details">
      <div class="parameter">
        <span class="caption parameter-name">max</span>
        <span class="parameter-value">{{actualData.maxTemp}}&deg;</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">min</span>
        <span class="parameter-value">{{actualData.minTemp}}&deg;</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">hum</span>
        <span class="parameter-value">{{actualData.currentHum}}%</span>
      </div>
    </div>

  </nb-card-body>
</nb-card>
